# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\testcodes\Java15Features\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
